html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


#abstitle {
  font-family: monospace;

}

#change-theme {
  font-family: "Shree Devanagari 714", sans-serif;

}


/*Mobile formatting */
@media only screen and (max-width: 620px) {
  .top-container {
    width: 100%;
  }
}
